# web application files
/web-app/WEB-INF

# IDE support files
/.launch
/.settings
/*.launch

# logs
/stacktrace.log

# plugin release file
/*.zip
plugin.xml

# "temporary" build files
/target
/target-eclipse

# other
*.iws
